
$danger: rgb(254, 34, 44);
$alarm: rgb(252, 131, 33);
$monitor: rgb(180, 223, 89);
$acceptable: rgb(39, 174, 96);
$no_status: rgb(161, 161, 161);

$hover-brightness: 1.15;

.danger-text-color {
    color: $danger;
}

.alarm-text-color {
    color: $alarm;
}

.monitor-text-color {
    color: $monitor;
}

.acceptable-text-color {
    color: $acceptable;
}

.noStatus-text-color {
    color: $no_status;
}

.danger-border-left {
    border-left: 2px solid $danger;
}

.alarm-border-left {
    border-left: 2px solid $alarm;
}

.monitor-border-left {
    border-left: 2px solid $monitor;
}

.acceptable-border-left {
    border-left: 2px solid $acceptable;
}

.noStatus-border-left {
    border-left: 2px solid $no_status;
}