@import "../shared/_statusVariables";

.machine-item {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-bottom: 12px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;

    .title {
        font-size: 20px;
    }

    .sub-title {
        margin-top: 8px;
        font-size: 12px;
    }
}