@import "../shared/_statusVariables";

.machine-item {
    display: flex;
    flex-direction: column;
    border-left: 4px solid $no_status;
    height: 80px;
    margin-bottom: 12px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}