<div class="content">
  <div class="filters-group">
    <button class="filter-button acceptable">
      <span>  Acceptable </span>  
      <span> (2)</span>
    </button>
    <button class="filter-button monitor">
      <span>  Monitor </span>  
      <span> (2)</span>
    </button>
    <button class="filter-button alarm">
      <span>  Alarm </span>  
      <span> (2)</span>
    </button>
    <button class="filter-button danger">
      <span>  Danger </span>  
      <span> (2)</span>
    </button>
    <button class="filter-button">
      <span>  Not Started </span>  
      <span> (2)</span>
    </button>
  </div>
  <div>
    <app-machine-list [dataList]="machinesList"></app-machine-list>
  </div>
</div>