<div class="content">
  <div class="filters-group">
    <button class="filter-button acceptable" (click)="filterData(0)">
      <span>  Acceptable </span>  
      <span>  ({{getAcceptableCount()}}) </span>
    </button>
    <button class="filter-button monitor" (click)="filterData(1)">
      <span>  Monitor </span>  
      <span> ({{getMonitorCount()}}) </span>
    </button>
    <button class="filter-button alarm" (click)="filterData(2)">
      <span>  Alarm </span>  
      <span> ({{getAlarmCount()}}) </span>
    </button>
    <button class="filter-button danger" (click)="filterData(3)">
      <span>  Danger </span>  
      <span> ({{getDangerCount()}}) </span>
    </button>
    <button class="filter-button" (click)="filterData(4)">
      <span>  Not Started </span>  
      <span> ({{getNoStatusCount()}}) </span>
    </button>
  </div>
  <div>
    <app-machine-list [dataList]="filteredMachinesList"></app-machine-list>
  </div>
</div>