@import "shared/_statusVariables";

* {
    font-family: roboto, arial;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0px auto;
}

.filters-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;

    .filters-total {
        color: $no_status;
        font-size: 12px;
    }
}
