.content {
    background-color: #f0f5f9;
    padding: 40px;
}

.filters-group {
    display: flex;
    margin-bottom: 20px;
}

.filter-button {
    background-color: var(--no_status);
    font-size: 12px;
    min-width: 32px;
    line-height: 2;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: white;
    margin-right: 8px;
}

.filter-button:hover{
    filter: brightness(var(--hover-brightness));
}

.danger {
    background-color: var(--danger);
}

.alarm {
    background-color: var(--alarm);
}

.monitor {
    background-color: var(--monitor);
}

.acceptable {
    background-color:var(--acceptable);
}