/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

:root {
   --danger: rgb(254, 34, 44);
   --alarm: rgb(252, 131, 33);
   --monitor: rgb(180, 223, 89);
   --acceptable: rgb(39, 174, 96);
   --no_status: rgb(161, 161, 161);
   --hover-brightness: 1.15;
}